@media(max-width: 1800px) {
    .open-tasks-container {
        justify-content: flex-end;
        align-items: center;
        margin-left: 0px;
    }
}

@media(max-width: 1700px) {
    .aot {
        width: 100%;
    }

    .board-position-lower {
        width: 100%;
        min-height: 920px;
        max-height: calc(100vh - 200px);
        box-sizing: border-box;
        background: rgb(246, 247, 249);
    }

    .board-position-lower > fieldset {
        min-width: 120px;
    }
}

@media(max-width: 1600px) {
    .parent-Container-for-addTask-board {
        border-radius: 30px;
        background-color: white;
        width: 90%;
        height: 800px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    .main-container-task-board {
        width: 100%;
        overflow-y: auto;
    }
    .board-form-container {
        width: 100%;
    }
}

@media(max-width: 1300px) {
    .board-position-lower {
        flex-direction: column;
        max-width: 100%;
        box-sizing: border-box;
    }

    .inner-board-container {
        height: 100%;
        width: 90%;
    }

    .txt-svg-cetering {
        width: 94%;
    }

    .board-position-lower {
        min-height: 1280px;
    }

    .position-relative {
        width: 90%;
   }

    .adjust-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .board-task-set-up {
        flex-direction: column;
        display: flex;
        gap: 8px;
        margin-top: 5%;
        overflow-y: auto;
        max-height: 60vh;
    }

    .task-width {
        width: 100%;
        height: auto;
        display: flex;
    }

    .drag-area {
        margin-top: 3%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        overflow-x: auto;
        padding: 3px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .todo-class {
        min-width: 200px;
        min-height: 200px;
    }
    .modal-content {
        width: 35%;
    }

    .open-tasks-container {
        width: calc(100% - 232px);
        padding-top: 10%;
    }
}

@media(max-width: 1025px) {
    .content-container-board {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .board-position-lower {
        display: flex;
        align-items: flex-start;
        height: 100%;
        padding-bottom: 10%;
    }

    .modal-content {
        width: 65%;
        padding: 24px 24px;
    }

    .open-tasks-container {
        height: calc(100vh - 20%);
        width: 100%;
        justify-content: center;
    }

    .task-width {
        width: 98%;
    }
}

@media(max-width: 900px) {
    .main-container-task-one-two {
        flex-direction: column;
        align-items: center;
    }

    .main-container-task-one-two  {
        gap: 0px;
    }

    .aot-task-container {
        align-items: center;
        justify-content: center;
    }

    .board-form-container {
        overflow: auto;
    }
}

@media(max-width: 700px) {
    .input-with-img-board {
        display: none;
    }

    .input-with-img-smal-screem {
        width: 296px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        border: 1px solid rgb(209, 209, 209);
    }

    .seperate-line {
        margin-top: 3px;
    }

    .upper-board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .input-with-img-smal-scren {
        width: 296px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        border: 1px solid rgb(209, 209, 209);
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .add-task-button {
        padding: 12px 12px;
    }

    .display-none {
        display: none;
    }
}

@media(max-height: 900px) {
    .parent-Container-for-addTask-board {
        height: 90%;
    }
}


@media(max-width: 500px) {
    .parent-Container-for-addTask-board {
        width: 95%;
    }

   .button-prio-width {
        gap: 1px;
        flex-wrap: wrap;
    }

   .details-container {
        gap: 12px;
    }

}


@media(max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}