.drop-area {
    border: 1px dashed rgb(168, 168, 168);
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    gap: 8px;
    color: rgb(168, 168, 168);
}

.none {
    display: none;
}

.attachments-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: gray;
    margin-top: 4px;
}

.attachments-delete {
    color: black;
}

.plus-button {
    cursor: pointer;
}

#gallery {
    display: flex;
    flex-direction: initial;
    gap: 8px;
    overflow: auto;
}

.main-image-upload {
    transition: filter 0.3s ease;
}

.main-image-upload:hover {
  filter: brightness(0.7);
}

.image-container img{
    width: 104px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.delete-img-cotainer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(168, 168, 168);
    background-color: white;
    border-radius: 8px;
}

.main-image {
    display: block;
}

.trashcan-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.traschcan-img {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trashcan-container img{
    width: auto;
    height: 16px;
}

.trashcan-container:hover {
    background-color: rgb(41, 171, 227);
    border-radius: 100%;
    padding: 4px 4px 0px 4px;
}

.image-container:hover .traschcan-img {
    opacity: 1;
}

.image-name {
    font-size: 16px;
    color: gray;
    white-space: nowrap;
    width: 104px;
    background-color: white;

    position: absolute;
    top: 72%;
}

.image-name-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0px;
}
